include INSTALL
include LICENSE.txt
include README
include TODO
recursive-include tests *
recursive-include example *
recursive-include doc *

include src/saml2/data/templates/*.xml
include src/saml2/data/schemas/*.xsd
